@import "tailwindcss";

:root {
  --background: #4545ff;
  --foreground: #ddddff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-unbounded: var(--font-unbounded);
  --font-jetbrains: var(--font-jetbrains);
}

.font-jetbrains {
  font-variant-ligatures: contextual;
  font-feature-settings: "liga" 1, "calt" 1;
}

.live-terminal-mask {
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 0%,
    #000 58%,
    transparent 100%
  );
  mask-image: linear-gradient(to bottom, #000 0%, #000 58%, transparent 100%);
}

body {
  background: #4545ff;
  color: #ddddff;
}

.noise-overlay-grain {
  pointer-events: none;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-repeat: repeat;
  animation: grain 0.5s steps(10) infinite;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2%, -4%);
  }
  20% {
    transform: translate(3%, 2%);
  }
  30% {
    transform: translate(-4%, 3%);
  }
  40% {
    transform: translate(5%, -2%);
  }
  50% {
    transform: translate(-3%, 5%);
  }
  60% {
    transform: translate(4%, 1%);
  }
  70% {
    transform: translate(-5%, -3%);
  }
  80% {
    transform: translate(2%, 4%);
  }
  90% {
    transform: translate(-1%, -5%);
  }
}
